@import "_variables";

@mixin background {
    background-color: $background-color;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -100rem;
}

@mixin mobile-res {
    

@media screen and (max-width: 374px) {
    body {
      font-size: 0.8rem;
    }
  
    .intro-text {
      &::before {
        top: 8rem;
      }
    }
  }
  
  @media screen and (min-width: 375px) and (max-width: 413px) {

    .intro-text {
      &::before {
        top: 6rem;
      }
    }
  
    .footer {
      &::after {
        top: -17rem;
      }
    }
  }
  
  @media screen and (min-width: 435px) {
  
  .intro {
    &::after {
      background-position-y: 18rem;
    }
  }
  
  .intro-text {
    &::before {
      top: 5.5rem;
    }
  }
  
  }
  
  @media screen and (min-width: 466px) {
  
    .intro {
      &::after {
        background-position-y: 20rem;
      }
    }
    
    .intro-text {
      &::before {
        top: 6.5rem;
      }
    }
    
    }
  
    @media screen and (min-width: 488px) {
  
      .intro {
        &::after {
          background-position-y: 22rem;
        }
      }
      
      .intro-text {
        &::before {
          top: 7.5rem;
        }
      }
      
      }
      
    @media screen and (min-width: 512px) {
  
      .intro {
        &::after {
          background-position-y: 24rem;
        }
      }
      
      .intro-text {
        &::before {
          top: 8.5rem;
        }
      }
      
      }
  
      @media screen and (min-width: 536px) {
  
        .intro {
          &::after {
            background-position-y: 24rem;
          }
        }
        
        .intro-text {
          &::before {
            top: 8.5rem;
          }
        }
        
        }
  
        @media screen and (min-width: 552px) {
  
          .intro {
            &::after {
              background-position-y: 24rem;
            }
          }
          
          .intro-text {
            &::before {
              top: 7rem;
            }
          }
          
          }
}

@mixin desktop-res {
  @media screen and (min-width: 992px) {
    .intro-text {
      &::before {
        display: none;
        top: 0rem;
      }
    }
  }
}
