@import "_variables";
@import "_desktop";
@import "_mobile";

@mixin background {
    background-color: $background-color;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -100rem;
}

@include mobile-res;

@include desktop-res;
