@mixin mobile-res { 
  @media screen and (max-width: 374px) {
      body {
        font-size: 0.8rem;
      }
    
      .intro-text {
        &::before {
          top: 8rem;
        }
      }
    }
    
    @media screen and (min-width: 375px) and (max-width: 413px) {
  
      .intro-text {
        &::before {
          top: 6rem;
        }
      }
    
      .footer {
        &::after {
          top: -17rem;
        }
      }
    }
    
    @media screen and (min-width: 435px) {
    
    .intro {
      &::after {
        background-position-y: 18rem;
      }
    }
    
    .intro-text {
      &::before {
        top: 5.5rem;
      }
    }
    
    }
    
    @media screen and (min-width: 466px) {
    
      .intro {
        &::after {
          background-position-y: 20rem;
        }
      }
      
      .intro-text {
        &::before {
          top: 6.5rem;
        }
      }
      
      }
    
      @media screen and (min-width: 488px) {
    
        .intro {
          &::after {
            background-position-y: 22rem;
          }
        }
        
        .intro-text {
          &::before {
            top: 7.5rem;
          }
        }
        
        }
        
      @media screen and (min-width: 512px) {
    
        .intro {
          &::after {
            background-position-y: 24rem;
          }
        }
        
        .intro-text {
          &::before {
            top: 8rem;
          }
        }
        
        }
    
        @media screen and (min-width: 536px) {
    
          .intro {
            &::after {
              background-position-y: 24rem;
            }
          }
          
          .intro-text {
            &::before {
              top: 7.5rem;
            }
          }
          
          }
    
          @media screen and (min-width: 552px) {
    
            .intro {
              &::after {
                background-position-y: 24rem;
              }
            }
            
            .intro-text {
              &::before {
                top: 7rem;
              }
            }
            
            }

            @media screen and (min-width: 569px) {
    
              .intro {
                &::after {
                  background-position-y: 24rem;
                }
              }
              
              .intro-text {
                &::before {
                  top: 6.5rem;
                }
              }
              
              }

            @media screen and (min-width: 768px) {
    
              .intro {
                &::after {
                  background-position-y: 32rem;
                }
              }
              
              .intro-text {
                &::before {
                  top: 6rem;
                }
              }
              
              }
            }