$background-color: hsl(218, 28%, 13%);
$intro-color: hsl(217, 28%, 15%);
$footer-background: hsl(216, 53%, 9%);
$testimonials: hsl(219, 30%, 18%);
$early-access-container: hsl(217, 28%, 15%);
$text: hsl(0, 0%, 100%);
$link: hsl(176, 68%, 64%);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints


$container-max-widths: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px
) !default;