@import "common/_variables";
@import "common/_mixins";

body {
  @include background;
  color: $text;
  font-family: 'Raleway', sans-serif;
}
section {
  padding: 4rem 0;
}

.container {
  display: block;
  max-width: 80%;
}

.row {
  padding: 0.5rem 0;
}

.image-bg {
  z-index: 1;
}

.intro {
    background-color: $intro-color;
    text-align: center;

  h1 {
    font-weight: 700;
  }

  p {
    font-weight: 400;
  }

  .intro-container {
    
    background: url("/images/bg-curvy-mobile.svg") bottom no-repeat;
    position: relative;
    background-size: 100% 12rem;
    background-position-y: 15rem;

    &::after {
      content: "";
      display: block;
      background-color: $background-color;
    }

  }



}

.btn {
  background-color: hsl(176, 68%, 64%);
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  color: white;
  font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }