body {
  background-color: #181f2a;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -100rem;
  color: white;
  font-family: 'Raleway', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}

nav {
  padding: 0 1.5rem;
  padding-top: 1rem;
  display: block;
}

@media screen and (min-width: 992px) {
  nav {
    padding-top: 4rem;
  }
}

nav .row {
  padding: 0;
}

nav .desktop-navbar {
  margin: 0 auto;
  width: 98%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 5rem;
  height: auto;
}

@media screen and (min-width: 992px) {
  nav img {
    width: 10rem;
  }
}

nav .nav-menu {
  font-weight: 400;
}

nav .nav-menu li {
  list-style: none;
  padding: 0 0.75rem;
}

nav .nav-menu li a {
  cursor: pointer;
}

section {
  padding: 4rem 0;
}

.container {
  display: block;
  width: 95%;
}

@media screen and (min-width: 992px) {
  .container {
    width: 85%;
  }
}

.row {
  padding: 0.5rem 0;
}

.intro {
  background-color: #1c2431;
  text-align: center;
  position: relative;
  z-index: 5;
}

@media screen and (min-width: 992px) {
  .intro {
    padding-top: 2rem;
    padding-bottom: 8rem;
  }
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: url("/images/bg-curvy-mobile.svg") bottom no-repeat;
  background-size: 100% 12rem;
  background-position-y: 16rem;
  z-index: -1;
}

@media screen and (min-width: 992px) {
  .intro::after {
    background: url("/images/bg-curvy-desktop.svg") bottom no-repeat;
    background-size: 100% 21rem;
    background-position-y: 16rem;
    top: 14rem;
    z-index: -1;
  }
}

@media screen and (min-width: 992px) {
  .intro .illustration-info {
    width: 65%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .intro .illustration-info {
    width: 80%;
    height: auto;
  }
}

.intro h1 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 992px) {
  .intro h1 {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
}

.intro p {
  font-weight: 400;
  z-index: 4 !important;
  position: relative;
}

@media screen and (min-width: 992px) {
  .intro p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}

.intro .intro-container {
  position: relative;
  z-index: 1 !important;
}

.intro .btn {
  margin: 0 auto;
}

.intro-text {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 992px) {
  .intro-text {
    padding-top: 1rem;
  }
}

.intro-text::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  top: 5rem;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #181f2a;
  z-index: -1;
  display: block;
}

@media screen and (min-width: 992px) {
  .advantages .advantage {
    padding-top: 1rem;
    margin: 0 auto;
  }
}

.advantages img {
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .advantages img {
    width: auto;
    height: 4rem;
  }
}

.advantages h2 {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .advantages h2 {
    font-size: 1rem;
    margin: 0;
  }
}

.advantages p {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .advantages p {
    font-size: 0.7rem;
  }
}

.stay-productive {
  text-align: left;
}

@media screen and (min-width: 992px) {
  .stay-productive {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .stay-productive .stay-productive-flex {
    gap: 2rem;
  }
  .stay-productive .stay-productive-img {
    width: auto;
    height: 20rem;
  }
}

.stay-productive a {
  color: #65e2d9;
  text-decoration: none;
  position: relative;
}

.stay-productive a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  top: 1.5rem;
  left: 0;
  background-color: #65e2d9;
}

h2 {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.4rem;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 2.2rem;
  }
}

.btn {
  background-color: #339ecc;
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  color: white;
  font-weight: 700;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #65e2d9;
}

.opinions {
  margin: 0 auto;
  padding: 6rem 0;
}

.opinions h3 {
  font-size: 16px;
  font-weight: 700;
}

.opinions p {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.opinions .quote-icon {
  margin-left: 1rem;
  width: 2rem;
  height: auto;
}

@media screen and (min-width: 992px) {
  .opinions .opinions-flex {
    gap: 2rem;
  }
}

.opinions .opinion {
  background-color: #202a3c;
  padding: 2rem 1.5rem;
  font-weight: 400;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.096);
          box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.096);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.opinions .opinion img {
  width: 2rem;
  height: auto;
  border-radius: 1rem;
}

.opinions .opinion .opinion-author {
  padding-top: 1rem;
}

.opinions .opinion .opinion-author .about-author {
  padding: 0;
  padding-left: 0.5rem;
}

.opinions .opinion .opinion-author .about-author h3 {
  font-size: 0.9rem;
}

.early-access-box {
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  background-color: #1c2431;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .early-access-box {
    padding: 2rem 6rem;
  }
}

.early-access-box p {
  padding: 1rem 0;
}

.early-access-box input {
  padding: 0.5 3rem;
  border-radius: 10rem;
}

footer {
  padding: 2rem 0;
  background-color: #0b1523;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

footer .footer-logo {
  padding-bottom: 2rem;
  padding-left: 1rem;
}

footer .contact li {
  padding-left: 1rem;
}

footer .contact li:nth-child(1) {
  list-style-image: url("/images/icon-location.svg");
}

footer .contact li:nth-child(2) {
  list-style-image: url("/images/icon-phone.svg");
}

footer .contact li:nth-child(3) {
  list-style-image: url("/images/icon-email.svg");
}

footer li {
  list-style: none;
  padding: 0.5rem 0;
}

footer .footer-icons {
  padding-top: 4rem;
}

footer .footer-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

footer .footer-icons ul li {
  border: 1px solid white;
  border-radius: 10rem;
  width: 2rem;
  margin: 0 0.75rem;
}

footer .footer-icons ul li svg {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  display: block;
  fill: white;
}

footer::after {
  content: "";
  position: absolute;
  top: -17rem;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #0b1523;
  z-index: -1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 374px) {
  body {
    font-size: 0.8rem;
  }
  .intro-text::before {
    top: 8rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  .intro-text::before {
    top: 6rem;
  }
  .footer::after {
    top: -17rem;
  }
}

@media screen and (min-width: 435px) {
  .intro::after {
    background-position-y: 18rem;
  }
  .intro-text::before {
    top: 5.5rem;
  }
}

@media screen and (min-width: 466px) {
  .intro::after {
    background-position-y: 20rem;
  }
  .intro-text::before {
    top: 6.5rem;
  }
}

@media screen and (min-width: 488px) {
  .intro::after {
    background-position-y: 22rem;
  }
  .intro-text::before {
    top: 7.5rem;
  }
}

@media screen and (min-width: 512px) {
  .intro::after {
    background-position-y: 24rem;
  }
  .intro-text::before {
    top: 8.5rem;
  }
}

@media screen and (min-width: 536px) {
  .intro::after {
    background-position-y: 24rem;
  }
  .intro-text::before {
    top: 8.5rem;
  }
}

@media screen and (min-width: 552px) {
  .intro::after {
    background-position-y: 24rem;
  }
  .intro-text::before {
    top: 7rem;
  }
}

@media screen and (min-width: 992px) {
  .intro-text::before {
    display: none;
    top: 0rem;
  }
}
/*# sourceMappingURL=style.css.map */